
* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        
}


body {
        background-color: rgb(118, 177, 197);
        padding: 5%;
}

h1 {
        font-family:'Fredoka One', cursive;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h3 {
        font-family: Arial, Helvetica, sans-serif;   
}

img {
        max-width: 100%;
        
}

p {
        font-size: 1.3rem;
        /* font-size: 1rem; */
        font-weight: 200;
        line-height: 1.8;
        
}

.name {
        font-size: 2rem;
        font-weight: bolder;
        margin-left: 30%;
        /* margin-right: 10%; */
        /* float: left; */
        text-align: center;

        
}

.firstname {
        padding-left: 2%;
}

.miguelimage {
        /* float: right; */
        /* margin-left: 10%; */
        margin-right: 30%;
        transition: ease-out 0.3s;
        max-width: 100%;
        display: block;
        text-align: center;
 }

 .section1 {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-column-gap: 3%;
        
 }


#section2 {
        clear: both;
        padding-top: 10%;
}

#section2 > .title {
        /* text-align: center; */
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 5%;
        
}

#section2 > img {
        margin-right: 3%;
        
}

#section2 > h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 2%;
}

.london {
        float: left; 
        transition: ease-out 0.3s;
        max-width: 100%;
        display: block;
}

/*.cityimage {
        float: left;
        padding-top: 5%;
        margin-right: 50px;
        transition: ease-out 0.3s;
        width: 100px;
        height: 100px;
}

.favouritecity {
        padding-top: 50px;
        padding-left: 650px;
        
}

.city {
        font-size: 25px;
        font-weight: bolder;
        padding-bottom: 20px;
}*/

#section2 > p {
        /* font-size: 2rem; */
        font-size: 1.3rem;
        /* font-size: 1rem; */
        font-weight: 200;
        line-height: 1.8;
}

.section3 {
        clear: both;
        padding-top: 8%;
}

.languagetext {
        text-align: center;
        font-weight: bolder;
        font-size: 2rem;
}

.portuguesetext {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 3%;
        margin-left: 18%;
        margin-right: 18% ;
}

table {
       width: 40%;
       
       
}

.center {
        margin-left: auto;
        margin-right: auto;
}


table, th, td {
        border: 3px solid lightblue;
        border-collapse: collapse;
        margin-top: 2%;
        font-size: 1.3rem;
        text-align: center;
}

th, td {
       padding: 2%;
       align-self: center;
}

.section4 {
        margin-top: 8%;
}

.historicalplaces {
        text-align: center;
}

.historicalheader {
        font-weight: bold;
        font-size: 1.5rem;
}

.historicaltext {
        margin-top: 2%;
        font-size: 1.5rem;
        margin-left: 18%;
        margin-right: 18%;
        margin-bottom: 5%;
}

.histcontainer {
        display: grid;
        grid-column-gap: 5%;
        grid-template-columns: 1fr 1fr 1fr;
}

/* .box {
        
} */

.historicplace1 {
        margin-top: 3%;
}

.castleimage {
        float: left;
        margin-right: 4%;
        transition: ease-out 0.3s;
        max-width: 100%;
        display: block;
}



.castletextheading {
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5%;
        
}

.castletextpara {
        font-size: 1rem;
        margin-top: 2%;
}
.historicplace2 {
        clear: both;
        padding-top: 3%;
}


.district6-textheading {
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5%;
}

.district6-textpara {
        font-size: 1rem;
        margin-top: 2%;
}

.district6-image {
        float: left;
        margin-right: 4%;
        transition: ease-out 0.3s;
        max-width: 100%;
        display: block;
}

.historicplace3 {
        clear: both;
        padding-top: 3%;
        margin-bottom: 3%;
}

.stgeorgecathedralimage {
        float: left;
        margin-right: 4%;
        transition: ease-out 0.3s;
        max-width: 100%;
        display: block;
}


.stgeorgecathedraltextheading {
        font-size: 1rem;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 5%;
}

.stgeorgecathedraltextpara {
        font-size: 1rem;
        margin-top: 2%;
}

.footnote {
        clear: both;
        text-align: center;
        padding-top: 4%;
        font-weight: bold;
        font-size: 1rem;
}

@media only screen and (max-width:950px) {
        .name {
                font-size: 1.5rem;
                
        
                
        }
}

@media only screen and (max-width:866px) {
        .name {
                font-size: 1.5rem;
                
        
                
        }

        .portuguesetext {
                margin-bottom: 7%;
        }
  
        .historicaltext {
                margin-bottom: 7%;
        }
  
        .historicplace2 {
                margin-top: 5%;
        }
        
        .historicplace3 {
                margin-top: 5%;
        }
}

@media only screen and (max-width: 768px) {
      .name {
          text-align: center;
          font-size: 1.5rem;
      }

      /* .Mimage { */
              /* margin-left: auto; */
              /* margin-right: auto; */
      /* } */

      .london {
        width: auto;
        
        margin-left: auto;
        margin-right: auto;
             
      }

      .center {
              margin-left: auto;
              margin-right: auto;
      }
      
      .portuguesetext {
              margin-bottom: 7%;
      }

      .histcontainer {
        display: grid;
        /* grid-column-gap: 5%; */
        grid-template-columns: none;
}


      .historicaltext {
              margin-bottom: 7%;
      }

      .historicplace2 {
              margin-top: 5%;
      }
      
      .historicplace3 {
              margin-top: 5%;
      }

}



@media only screen and (max-width: 620px) {
        .name {
                font-size: 1rem;
        }

        /* .Mimage {
                margin-left: auto;
                margin-right: auto;
        } */

        #section2 > h1 {
                font-size: 1rem;
        }

        #section2 > h2 {
                font-size: 1.5rem;
        }

        #section2 > p {
                font-size: 1.5rem;
        }

        .languagetext {
                font-size: 1.5rem;
        }

        .portuguesetext {
                font-size: 1.5rem;
        }
        
        th, td {
                font-size: 1.5rem;
                padding: 5%;
                margin: 5%;
        }

        .historicalheader {
                font-size: 1.5rem;
        }

        .historicaltext {
                font-size: 1.5rem;
        }

        .castletextheading {
                font-size: 1.5rem;
        }

        .castletextpara {
                font-size: 1.5rem;
        }

        .district6-textheading {
                font-size: 1.5rem;
        }

        .district6-textpara {
                font-size: 1.5rem;
        }

        .stgeorgecathedraltextheading {
                font-size: 1.3rem;
        }

        .stgeorgecathedraltextpara {
                font-size: 1.5rem;
        }

}

@media only screen and (max-width: 620px) {
       
       #section2 > h2 {
               padding-top: 5%;
       }
       
       
}

@media only screen and (max-width: 375px) {
       
        .name {
                font-size: 0.7rem;
                
        
                
        }
        
        
 }